img{
    height: 400px !important;
    object-fit: cover;
}
.cat:hover .inner {
    transition: box-shadow 0.3s 0.3s ;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.border{
    border: 1px soild #0AAD0A;
}
a{
    text-decoration: none;
    
}